extends _layout

block content
    div.head
      div.class
        ul.navigation  
          li
            a(href='/') Main Menu
          li
            a(href='/about-us') About
          li
            a.active(href='/contact-us') Contact
          li
            a(href="/other") Other

    div.mainChunk
      h3 Pratix Parikh
      h2 ________________________________
      p Contact Me