extends _layout

block content
    div.head
      div.class
        ul.navigation  
          li
            a(href='/') Main Menu
          li
            a(href='/about-us') About Me
          li
            a(href='/contact-us') Contact
          li
            a(href="/other") Other

    div.mainChunk
      h3 Pratix Parikh
      p Contact Me
      div.contactInfo
        p I am available on all social media so you can find me literally everywhere! I mainly frequent LinkedIn, Facebook, Instagram and Twitter. <br> For business inquiries please contact me by my email: Pratix98@gmail.com. <br> Below are links to all my social media accounts, feel free to message me there!
      div.contactTable
        table.wholeTable
          tr.tableHead 
            th LinkedIn
            th Facebook
            th Instagram
            th Twitter
          tr.tableBody
            td Link: 
            td Link: 
            td Link:
            td Link:

    