extends _layout

block content
    h4 Rates
    ul
        each rate, currencyCode in rates
            li
                strong= `${currencyCode}: `
                span= rate

block page-scripts
    script(defer src="/script.js")
